<a href="https://colab.research.google.com/github/ratneshgujarathi/Authencation-with-keylogger-keystrokesdynamics/blob/main/kydyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [ ]:
# load the data
data = pd.read_csv("DSL-StrongPasswordData.csv", header = 0)
# reset to index
data = data.reset_index()
# Paste the unique IDs field 'subject'
unisub = list(data['subject'].unique())
# create sequencial numerical id
mlist = [int(x) for x in range(len(unisub))]
# link the numerical ID field 'subject'
newvalue = dict(zip(unisub, mlist))

In [ ]:

data['subject'] = data['subject'].map(newvalue)

In [ ]:
data['subject'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [ ]:
data.head()

   index  subject  sessionIndex  ...  DD.l.Return  UD.l.Return  H.Return
0      0        0             1  ...       0.3509       0.2171    0.0742
1      1        0             1  ...       0.2756       0.1917    0.0747
2      2        0             1  ...       0.2847       0.1762    0.0945
3      3        0             1  ...       0.3232       0.2387    0.0813
4      4        0             1  ...       0.2517       0.1614    0.0818

[5 rows x 35 columns]

In [ ]:
# Divide the data to implement kross validation in format 80:20
train, test = train_test_split(data, test_size = 0.2, random_state=42)

features = list(data.columns[3:])

X = train[features]
y = train['subject']

X_test = test[features]
y_test = test['subject']

In [ ]:
#pre-processing standardizing the data subtracting the mean and then scaling to unit variance.
scaler = StandardScaler()
q=scaler.fit(X) #

q1=scaler.transform(X)
q2=scaler.transform(X_test)

In [ ]:
model1= MLPClassifier(random_state=42,hidden_layer_sizes=(84, ),max_iter=600,activation= 'relu', learning_rate= 'invscaling', solver='adam')
#model2= MLPClassifier(random_state=42,hidden_layer_sizes=(84, ),max_iter=600,activation= 'tanh', learning_rate= 'adaptive', solver='adam')
#model3= MLPClassifier(random_state=42,hidden_layer_sizes=(84, ),max_iter=6000,activation= 'logistic', learning_rate= 'constant', solver='adam')
#model4= MLPClassifier(random_state=42,hidden_layer_sizes=(84, ),max_iter=6000,activation= 'logistic', learning_rate= 'constant', solver='sgd')
#model5= MLPClassifier(random_state=42,hidden_layer_sizes=(84, ),max_iter=5000,activation= 'relu', learning_rate= 'constant', solver='lbfgs')

In [ ]:
#with relu as activation function max iter 600 learning rate invscaling solver adam
model1.fit(q1,y)
#with tanh as activation function max iter 600 learning rate adaptive solver adam
#model2.fit(X,y)
#with logistic as activation function max iter 6000 learning rate constant solver adam
#model3.fit(X,y)
#with logistic as activation function max iter 6000 learning rate constant solver sgd
#model4.fit(X,y)
#with relu as activation function max iter 5000 learning rate constant solver lbfgs

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(84,), learning_rate='invscaling',
              learning_rate_init=0.001, max_fun=15000, max_iter=600,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=42, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [ ]:
# predict the output using the test data on the learned model
predicted_output1 = model1.predict(q2)
#predicted_output2 = model2.predict(X_test)
#predicted_output3 = model3.predict(X_test)
#predicted_output4 = model4.predict(X_test)
#predicted_output5 = model5.predict(X_test)

In [ ]:
model_accuracy1 = metrics.accuracy_score(y_test, predicted_output1)
print('accuracy of model: {}%'.format(model_accuracy1*100) )

accuracy of model: 91.37254901960785%

In [ ]:
print(classification_report(y_test, predicted_output1, target_names=unisub))

              precision    recall  f1-score   support

        s002       0.76      0.89      0.82        72
        s003       0.86      0.88      0.87        69
        s004       0.91      0.88      0.90        73
        s005       0.99      0.92      0.95        73
        s007       0.81      0.85      0.83        54
        s008       0.87      0.84      0.85        87
        s010       0.96      0.97      0.96        97
        s011       0.88      0.93      0.90        75
        s012       0.93      0.82      0.87        93
        s013       0.90      0.97      0.93        72
        s015       0.93      0.91      0.92        87
        s016       0.95      0.94      0.95        85
        s017       1.00      0.96      0.98        82
        s018       0.86      0.90      0.88        73
        s019       0.96      0.97      0.97        80
        s020       0.85      0.80      0.83        86
        s021       0.92      0.91      0.91        86
        s022       1.00      1.00      1.00        72
        s024       0.95      0.97      0.96        73
        s025       0.96      0.95      0.96        85
        s026       0.94      0.97      0.95        93
        s027       0.94      0.95      0.95        83
        s028       0.98      0.98      0.98        85
        s029       0.85      0.91      0.88        76
        s030       0.91      0.98      0.94        87
        s031       0.85      0.77      0.81        91
        s032       0.77      0.78      0.77        77
        s033       0.99      0.96      0.97        69
        s034       0.86      0.88      0.87        67
        s035       0.96      0.94      0.95        81
        s036       0.96      1.00      0.98        80
        s037       0.82      0.86      0.84        78
        s038       0.95      0.94      0.94        81
        s039       0.91      0.95      0.93        77
        s040       0.88      0.88      0.88        85
        s041       0.91      0.83      0.87        96
        s042       0.96      0.96      0.96        79
        s043       1.00      0.97      0.99        77
        s044       0.98      0.98      0.98        81
        s046       0.91      0.87      0.89        89
        s047       0.81      0.86      0.84        71
        s048       0.83      0.89      0.86        73
        s049       0.91      0.98      0.94        81
        s050       0.87      0.94      0.90        89
        s051       0.88      0.85      0.86        75
        s052       1.00      0.94      0.97        88
        s053       0.99      0.97      0.98        72
        s054       0.88      0.82      0.85        83
        s055       0.96      0.98      0.97        65
        s056       0.95      0.86      0.90        84
        s057       0.96      0.91      0.93        93

    accuracy                           0.91      4080
   macro avg       0.91      0.91      0.91      4080
weighted avg       0.92      0.91      0.91      4080

In [ ]:
import pickle
with open('model_pickle','wb') as f:
  pickle.dump(model1,f)

In [ ]:
import pickle
with open('model_pickle','rb') as f:
  mod= pickle.load(f)

In [ ]:
# load the data
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/keystroke dynamics/test1.csv", header = 0)
# reset to index
data = data.reset_index()

data['subject'] = data['subject'].map(newvalue)

In [ ]:
data.head()

   index  subject  sessionIndex  ...  DD.l.Return  UD.l.Return  H.Return
0      0        0             1  ...       0.3509       0.2171    0.0742

[1 rows x 35 columns]

In [ ]:

test= data

#features = list(data.columns[2:])

a = test[features]
a.head()

   rep  H.period  DD.period.t  ...  DD.l.Return  UD.l.Return  H.Return
0    1    0.1491       0.3979  ...       0.3509       0.2171    0.0742

[1 rows x 32 columns]

In [ ]:
predicted=mod.predict(a)